/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@jsplumbtoolkit/browser-ui/css/jsplumbtoolkit.css';
@import "../node_modules/@jsplumbtoolkit/browser-ui/css/jsplumbtoolkit-demo-support.css";

app-root {
    width:100%;
}

app-root > div {
    height:100%;
}

jsplumb-surface {
    height:100%;
}

.jtk-surface {
    height: 100%;
    background-color: #EAEAEA;
}

.jtk-node {
    width:100px;
    padding:10px;
}

.jtk-overlay {
    background-color: white;
    padding:7px;
}

.jtk-node {
    width:100px;
    color:white;
    text-align: center;
    padding:7px;
    border:1px solid #ccc;
    background-color:#2b81af;
}

.jtk-node button{
    margin:10px;
    outline:none;
    cursor:pointer;
    border:1px solid #ccc;
    border-radius:3px
}

.jtk-node button:hover{
    color:#fff;
    background-color:#ff4500;
}

