<!--
  Explanation of each attribute:

  primary-key : used by this demonstration to apply styles via CSS to a table's primary key
  data-jtk-port : the associated port id in the model for the column (which is the column's id)
  data-jtk-source : informs the Toolkit that the element is a connection drag source
  data-jtk-target: informs the Toolkit that the element is a connection drag target

-->
<div class="table-column table-column-type-{{obj.datatype}}"
     attr.primary-key="{{obj.primaryKey}}" attr.data-jtk-port="{{obj.id}}"
     data-jtk-source="true" attr.data-jtk-scope="{{obj.datatype}}" data-jtk-target="true">

  <div class="table-column-delete" (click)="remove()">
    <i class="fa fa-times table-column-delete-icon"></i>
  </div>

  <div><span>{{obj.name}}</span></div>

  <div class="table-column-edit" (click)="editName()">
    <i class="fa fa-pencil table-column-edit-icon"></i>
  </div>

</div>
